<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue JS 3</title>
    <link rel="stylesheet" href="style.css" />
    <script src="vue.global.js"></script>
  </head>
  <body>
    <header>
      <h2>Vue JS 3</h2>
    </header>
    <h1 class="app-title">Ticket Booking App</h1>
    <div id="app">
        <div class="ticket-app">
            <div class="ticket-app__top">
                <div class="seat-states">
                    <div class="seat-state" v-for="(value,key) in seatStates">
                        <div
                            class="seat-state__color"
                            :style="{backgroundColor: value.color}"
                        >
                        </div>
                        <div class="seat-state__text">{{ value.text }}</div>
                    </div>
                </div>
            </div>
            <div class="ticket-app__bottom">
                <div class="ticket-app__left">
                    <div class="bus">
                        <div class="bus__top">
                            <div class="bus__door">DOOR</div>
                            <div class="bus__driver">DRIVER</div>
                        </div>
                        <div class="seats">
                            <div 
                                class="seat" 
                                    :class="{
                                    'seat--sold' : seat.type === 'sold',
                                    'seat--booked' : seat.type === 'booked',
                                    'seat--selected' : seat.type==='selected'
                                }"
                                    v-for="(seat, i) in seats"
                                    :key="seat.name"
                                    @click="handleKey(i)"
                                    > 
                                    {{ seat.name }}
                            </div> 
                        </div>
                    </div>
                </div>
                <div class="ticket-app__instruction" v-if="selectedSeats.length===0">
                    No Seat Selected <br/>
                    Select Some Seats First
                </div>
                <div class="ticket-app__right" v-else>
                    <div class="cart">
                        <strong>Selected Seats</strong>
                        <table  class="selected-seats">
                            <thead>
                                <tr>
                                    <th>Seat</th>
                                    <th>Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(seat, i) in selectedSeats" :key="seat.name">
                                    <td>{{ seat.name }}</td>
                                    <td>{{ seat.price }}</td>  
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <script src="app.js"></script>
  </body>
</html>
